.container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.title {
	text-align: center;
	font-weight: 700;
	margin-bottom: 0;
}

.description {
	max-width: 500px;
	line-height: 1.6;
}
