@use "@teawithsand/mlui/dist/_mantine" as mantine;

.abook-edit {
	&__header {
		display: flex;
		flex-direction: column;
		gap: mantine.rem(16);
	}

	&__title {
		color: var(--mantine-color-text);
		margin: 0;
	}
}
