@use "@teawithsand/mlui/dist/_mantine" as mantine;

.navigation {
	display: flex;
	flex-direction: column;
	gap: var(--mantine-spacing-xs);

	&__tab-content {
		display: flex;
		align-items: center;
		gap: var(--mantine-spacing-xs);
	}

	&__tab-icon {
		flex-shrink: 0;
	}
}
