@use "@teawithsand/mlui/dist/_mantine" as mantine;

.icon {
	flex-shrink: 0;
}

.name {
	font-size: mantine.rem(14);
	line-height: 1.3;

	@include mantine.larger-than(mantine.$mantine-breakpoint-sm) {
		font-size: mantine.rem(16);
	}
}

.ordinal {
	flex-shrink: 0;
	font-weight: 500;
}
