@use "@teawithsand/mlui/dist/_mantine" as mantine;

@mixin container-spacing($offset: mantine.rem(16)) {
	margin-top: $offset;
}

.container {
	display: block;
	@include container-spacing();
	overflow: auto; // This type of container should allow scrolling as needed
}
