@use "@teawithsand/mlui/dist/_mantine" as mantine;

.selectionBar {
	padding: mantine.rem(8) mantine.rem(12);
	background-color: var(--mantine-color-white);
	border-bottom: 1px solid var(--mantine-color-gray-3);
	margin: 0;

	@include mantine.dark {
		background-color: var(--mantine-color-dark-7);
		border-bottom-color: var(--mantine-color-dark-4);
	}
}

.selectionBar__content {
	width: 100%;
}

.selectionBar__status {
	flex: 1;
	min-width: 0;
}

.selectionBar__actions {
	flex-shrink: 0;
}
