@use "@teawithsand/mlui/dist/_mantine" as mantine;

.abook-upload-not-found {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	padding: mantine.rem(32);
}

.abook-upload-not-found__content {
	margin-bottom: mantine.rem(24);
}

.abook-upload-not-found__title {
	margin-bottom: mantine.rem(16);
}

.abook-upload-not-found__description {
	font-size: var(--mantine-font-size-lg);
	line-height: 1.5;
}
