.header {
	padding: mantine.rem(32) 0;
	border-bottom: 1px solid var(--mantine-color-gray-2);
	margin-bottom: mantine.rem(32);

	@include mantine.dark {
		border-bottom-color: var(--mantine-color-dark-4);
	}

	@include mantine.smaller-than(mantine.$mantine-breakpoint-sm) {
		padding: mantine.rem(24) 0;
		margin-bottom: mantine.rem(24);
	}

	@include mantine.smaller-than(mantine.$mantine-breakpoint-md) {
		flex-direction: column;
		align-items: stretch;
		gap: mantine.rem(16);
	}
}

.headerText {
	text-align: center;
}

.pageTitle {
	font-weight: 700;
	margin-bottom: mantine.rem(8);
	color: var(--mantine-color-gray-9);

	@include mantine.dark {
		color: var(--mantine-color-gray-1);
	}

	@include mantine.smaller-than(mantine.$mantine-breakpoint-sm) {
		font-size: mantine.rem(28);
	}
}

.pageSubtitle {
	font-size: mantine.rem(16);
	line-height: 1.4;

	@include mantine.smaller-than(mantine.$mantine-breakpoint-sm) {
		font-size: mantine.rem(14);
	}
}
