@use "@teawithsand/mlui/dist/_mantine" as mantine;

.container {
	width: 100%;

	@include mantine.smaller-than(mantine.$mantine-breakpoint-sm) {
		padding: var(--mantine-spacing-sm);
	}
}

.grid {
	width: 100%;
}
