@use "@teawithsand/mlui/dist/_mantine" as mantine;

.icon {
	flex-shrink: 0;
}

.title {
	font-size: mantine.rem(18);
	line-height: 1.3;
	word-break: break-word;

	@include mantine.larger-than(mantine.$mantine-breakpoint-sm) {
		font-size: mantine.rem(20);
	}
}

.ordinal {
	margin-top: mantine.rem(4);
}
