.localLayoutContainer {
	display: block;
	padding-left: 1rem;
	padding-right: 1rem;

	@include mantine.larger-than(mantine.$mantine-breakpoint-sm) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	@include mantine.larger-than(mantine.$mantine-breakpoint-md) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
